.resume-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid black;
    box-shadow: 0 0 20px black  ;
    border-radius: 2%;
    font-family: Arial, sans-serif;
}
section{
    padding-left: 20px;
}
.section-style{
    
    border: 2px green;
}
.personal-info{
    display: flex;
}
.personal-info  img {
    margin-left: 40px;
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.btn-toggle{
    margin-left: 20px;
}
.section-heading{
    border: 3px solid green;
    width: 200px;
    border-radius: 5px ;
    padding: 3px;
    box-shadow: 0 0 10px black;
}
/* Adjust for mobile screens */
@media (max-width: 600px) {
    .resume-container {
        padding: 10px;
    }
    img {
        width: 100px;
        height: auto;
    }
}

.toggle-skills{
    text-align: center;
}
